{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO Items</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Lato:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Lato:wght@400&display=swap" rel="stylesheet">
    {% block style %}   
    <link rel="stylesheet" href="{% static 'base/style.css' %}">

    {% endblock style %}

</head>
<body >
    <div class="background">
        <div class="container">
            {% block content %}
              
            {% endblock content %}
        </div>
    </div>
</body>
</html>